<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript</title>
    <script type="text/javascript"> 
        ㅁwindow.onload = function() {
            var btn = document.getElementById('btn');

            // 동일 이벤트 여러 번 적용 가능 : show1()과 show2() 둘 다 실행
            btn.addEventListener("click", show1);
            btn.addEventListener("click", show2);
        };

        function show1() {
            alert("실행1");
        }

        function show2() {
            alert("실행2");
        }
        
    </script>
</head>
<body>
    <button id="btn">버튼 클릭</button>
</body>
</html>