<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript</title>
    <script type="text/javascript"> 
        window.onload = function() {
            // 요소 생성
            var img = document.createElement('img');

            // 속성 설정
            img.src = "image/bird.jpg";
            img.width = 250;
            img.height = 180;
            img.title = "새";

            //h3 를 body에 연결(부착)
            document.body.appendChild(img);
        }
    </script>
</head>
<body>
</body>
</html>